@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --comet-hero-gradient-start: #7affeb;
  --comet-hero-gradient-end: #dff7af;
}

[data-theme='dark'] {
  --comet-hero-gradient-start: #fff000;
  --comet-hero-gradient-end: #000fff;
}
